body {
    background-color: rgba(30, 45, 59, 255);
    height: 100vh;
}

.container {
    height: 100vh;
}


/* header */

header {
    background-color: rgba(46, 58, 70, 255);
    height: 50px;
    margin-bottom: 50px;
}


/* cards */

#card {
    max-height: 450px;
}

ul li {
    list-style-type: none;
}

.bgc {
    background-color: rgba(46, 58, 70, 255);
    padding: 5px;
}


/* icons */

.fa-spotify {
    color: green;
    font-size: 2rem;
}


/* colors */